<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #bu {
            background-color: blue;
            color: #fff;
        }
        #re {
            background-color: red;
            color: #fff;
        }
        #su {
            background-color: green;
            color: #fff;
        }
    </style>
</head>
<body>
<form action="#" method="get">
    <br><br>
    <label for="content">테스트내용</label>
    <input type="text" id="content" name="content"> <br><br>
    <button id="bu" type="button">버튼 버튼</button>
    <button id="re" type="reset" value="초기화">버튼 리셋</button>
    <button id="su" type="submit" value="내용전달">버튼 서브밋</button>
</form>
</body>
</html>